---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import Prose from '../atoms/Prose.astro'
import Block from '../blocks/Block.astro'

const
    {
        title,
        flipped,
        padding = 'bottom',
        blockColor,
        tag = 'section',
        class: classes, ...props
    } = Astro.props
---
<Section
    tag={ tag }
    component="richtext"
    title={ title }
    padding={ padding }
    class:list="invisible"
    data-entry="below">
    <Wrapper x={ false }>
        <div
            class:list={[
                'col-span-full lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11 lg:place-self-center grid grid-cols-12 gap-x-4 grid-rows-6 [&>*]:row-span-full'
            ]}>
            <Block
                class:list={[
                    'col-span-7 md:col-span-3 col-start-1'
                ]}
                theme={ blockColor }
            />
            <Prose
                class:list={[
                    'col-span-full xs:col-start-2 xs:col-end-12 md:col-span-9 md:col-start-4 px-4 py-8 xs:py-12 md:py-0 md:-mt-1'
                ]}>
                <slot/>
            </Prose>
        </div>
    </Wrapper>
</Section>