---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import Prose from '../atoms/Prose.astro'
import Anchor from '../atoms/Anchor.astro'
import CardBusiness from '../blocks/CardBusiness.astro'

const
    {
        title, link, hue, logo, card, shortname,
        padding = 'bottom',
        class: classes, ...props
    } = Astro.props
---
<Section
    component="business-card"
    title={ title }
    padding={ padding }
    data-entry="below">
    <Wrapper x={ false }>
        <div class="col-span-full sm:col-start-2 sm:col-end-12 place-self-cente">
            <Anchor
                href={ link }
                class:list={['w-full hover:scale-95']}
                target="_blank"
                rel="nofollow noopener">
                <CardBusiness
                    hue={ hue }
                    logo={ logo }
                    card={ card }
                    shortname={ shortname }
                />
            </Anchor>
        </div>
    </Wrapper>
</Section>