---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import { getCollection } from 'astro:content'
import CardWork from '../blocks/CardWork.astro'
import Anchor from '../atoms/Anchor.astro'

const
    {
        title, collection, padding,
        class: classes, ...props
    } = Astro.props,
    entries = await getCollection(collection, ({ data }) => {
        return import.meta.env.PROD ? data.isDraft !== true : true
    }),
    sortedEntries = entries.sort((a: any, b: any) => Date.parse(b.data.date) - Date.parse(a.data.date))
---
<Section
    component="collection"
    title={ title }
    padding={ padding }
    class:list="invisible"
    data-entry="below">
    <Wrapper x={ false }>
        <ul
            class:list={[
                `
                    col-span-full grid grid-cols-12 gap-6 md:gap-8
                    [&>*]:col-span-full [&>*]:md:col-span-6 [&>*]:xl:col-span-4
                `
            ]}>
            { sortedEntries.map((e: any) => (
                <li class="group/anchor">
                    <Anchor
                        href={ `/${e.collection}/${e.slug}` }
                        class:list="w-full group-hover/anchor:scale-95">
                        <CardWork
                            title={ e.data.client.name }
                            hue={ e.data.color }
                            svg={ e.data.client.svg }
                            tag={ e.data.tag }
                        />
                    </Anchor>
                </li>
            )) }
        </ul>
    </Wrapper>
</Section>