---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Prose from '@atoms/Prose.astro'

const {
	title,
	alignment = 'centered',
	textAlign,
	placement = 'packed',
	padding = 'bottom',
	padX = true,
	tag = 'section',
	invisible = true,
	class: classes,
	...props
} = Astro.props
---

<Section
	tag={tag}
	component='richtext'
	title={title}
	padding={padding}
	class:list={[classes]}
	data-entry='below'
	{...props}>
	<Wrapper x={false}>
		<div
			class:list={[
				'col-span-full grid grid-cols-12 gap-x-4 sm:gap-x-8',
				padX && 'px-4',
			]}>
			<Prose
				class:list={[
					alignment == 'centered' && 'place-self-center',
					alignment == 'start' && 'place-content-start',
					textAlign == 'center' && 'text-center',
					placement == 'packed' &&
						'col-span-full xs:col-start-2 xs:col-end-12 sm:col-start-4 sm:col-end-10 lg:col-start-5 lg:col-end-9',
					(placement == 'spread' || placement == 'readable') &&
						'col-span-full sm:col-start-2 sm:col-end-12 lg:col-start-3 lg:col-end-11',
					placement == 'readable' && 'xl:col-start-4 xl:col-end-10',
				]}>
				<slot />
			</Prose>
		</div>
	</Wrapper>
</Section>
