---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Prose from '@atoms/Prose.astro'

const
    {
        title,
        alignment = 'centered',
        placement = 'packed',
        padding = 'bottom',
        class: classes, ...props
    } = Astro.props
---
<Section
    component="richtext"
    title={ title }
    padding={ padding }
    class:list="invisible"
    data-entry="below">
    <Wrapper x={ false }>
        <div
            class:list={[
                'col-span-full xs:col-start-2 xs:col-end-12 place-self-center grid grid-cols-12 px-4 sm:px-8 lg:px-12'
            ]}>
            <Prose
                class:list={[
                    alignment == 'centered' && 'place-self-center text-center',
                    placement == 'packed' && 'col-span-full xs:col-start-2 xs:col-end-12 sm:col-start-4 sm:col-end-10 lg:col-start-5 lg:col-end-9'
                ]}>
                <slot/>
            </Prose>
        </div>
    </Wrapper>
</Section>