---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import Prose from '../atoms/Prose.astro'

const
    {
        title, typical = true, split,
        padding = 'bottom',
        class: classes, ...props
    } = Astro.props
---
<Section
    component="story-split"
    title={ title }
    padding={ padding }
    data-entry="below">
    <Wrapper>
        <div
            class:list={[
                'col-span-full place-self-center',
                (typical && !split) && 'sm:col-start-2 sm:col-span-10 md:col-start-3 md:col-span-8 xl:col-start-4 xl:col-span-6',
                split && 'sm:col-start-2 sm:col-span-10 lg:columns-2 lg:gap-x-8 xl:gap-x-10'
            ]}>
            <Prose>
                <slot/>
            </Prose>
        </div>
    </Wrapper>
</Section>