---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Tile from '@blocks/Tile.astro'
import TileGrid from '@layouts/TileGrid.astro'
import _shuffle from '@scripts/shuffle'

const
    {
        title,
        padding = 'bottom',
        blockColor,
        tiles,
        class: classes, ...props
    } = Astro.props,
    pastels = [
        '#fae8ff', '#ecfccb', '#d1fae5', '#fef3c7', '#fee2e2', '#f5f5f4', '#f1f5f9', '#e0f2fe', '#fef9c3', '#ffe4e6', '#ffedd5', '#fce7f3', '#f3e8ff', '#ede9fe', '#dcfce7', '#e0e7ff', '#dbeafe', '#ccfbf1'
    ],
    shuffledPastels = _shuffle(pastels)
---
<Section
    component="tiles"
    title={ title }
    padding={ padding }
    class:list="invisible"
    data-entry="below">
    <Wrapper x={ false }>
        <TileGrid>
            { tiles.map((e, idx) => (
                <Tile
                    obj={ e }
                    pastel={ shuffledPastels[idx] }
                />
            )) }
        </TileGrid>
    </Wrapper>
</Section>