---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Tile from '@blocks/Tile.astro'
import TileGrid from '@layouts/TileGrid.astro'
import _pastels from '@scripts/pastels'
import _shuffle from '@scripts/shuffle'

const
    {
        title,
        padding = 'bottom',
        blockColor,
        tiles,
        class: classes, ...props
    } = Astro.props,
    pastels = _pastels().pastels(),
    shuffledPastels = _shuffle(pastels)
---
<Section
    component="tiles"
    title={ title }
    padding={ padding }
    data-entry="below">
    <Wrapper x={ false }>
        <TileGrid>
            { tiles.map((e, idx) => (
                <Tile
                    obj={ e }
                    pastel={ shuffledPastels[idx] }
                />
            )) }
        </TileGrid>
    </Wrapper>
</Section>