---
import Heading from '@atoms/Heading.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'

const {
    title, subtitle, position,
    class: classes, ...props
} = Astro.props
---
<Section
    component="title"
    class:list={[  ]}>
    <Wrapper>
        <div class="col-span-full sm:col-start-2 sm:col-span-10 place-self-center">
            <Heading text={ title } level="h2" size="xl" weight="extra" class:list="lowercase"/>
        </div>
    </Wrapper>
</Section>