---
import Heading from '@atoms/Heading.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Accentbar from '@atoms/Accentbar.astro'

const {
    title, subtitle, flipped, swapped,
    centered = true,
    class: classes, ...props
} = Astro.props
---
<Section component="title">
    <Wrapper>
        <div
            class:list={[
                'col-span-full sm:col-start-2 sm:col-span-10',
                centered && 'place-self-center'
            ]}>
            <div class="inline-flex flex-col invisible" data-entry="above">
                <Heading
                    text={ title }
                    level="h2"
                    size="xl"
                    weight="extra"
                    lowercase
                    tighten
                    class:list={ flipped ? 'order-2 mt-0.5 md:mt-1.5 pb-1' : 'order-1' }
                />
                <div
                    class:list={[
                        'text-accent-500 italic flex items-center px-1.5',
                        flipped ? 'order-1' : 'order-2 mt-1 md:mt-3'
                    ]}>
                    <Heading
                        text={ subtitle }
                        size="md"
                        weight="bold"
                        uppercase
                        loosen
                        nowrap
                        class:list={ swapped ? 'order-2' : 'order-1' }
                    />
                    <Accentbar class:list={ swapped ? 'order-1 mr-3' : 'order-2 ml-3' }/>
                </div>
            </div>
        </div>
    </Wrapper>
</Section>