---
import Heading from '@atoms/Heading.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'

const {
    title, subtitle, flipped,
    centered = true,
    class: classes, ...props
} = Astro.props
---
<Section
    component="title"
    class:list={[  ]}>
    <Wrapper>
        <div
            class:list={[
                'col-span-full sm:col-start-2 sm:col-span-10',
                centered && 'place-self-center'
            ]}>
            <div class="inline-flex flex-col">
                <Heading
                    text={ title }
                    level="h2"
                    size="xl"
                    weight="extra"
                    lowercase
                    class:list={ flipped ? 'order-2 mt-0.5 md:mt-1.5' : 'order-1' }
                />
                <div
                    class:list={[
                        'text-accent-500 italic flex items-center px-2',
                        flipped ? 'order-1' : 'order-2 mt-1 md:mt-3'
                    ]}>
                    <Heading text={ subtitle } size="md" weight="bold" uppercase loosen/>
                    <span
                        class="border-t border-b-[3px] md:border-t-[3px] border-accent-500 ml-3 w-full rounded-full"
                    />
                </div>
            </div>
        </div>
    </Wrapper>
</Section>