---
import Error from '../layouts/Error.astro'
import { useStoryblokApi } from '@storyblok/astro'
import Wrapper from '../layouts/Wrapper.astro'
import Grid from '../layouts/Grid.astro'
import Inner from '../layouts/Inner.astro'
import BannerTitle from '../blocks/BannerTitle.astro'
import BannerSubtitle from '../blocks/BannerSubtitle.astro'
import Copy from '../atoms/Copy.astro'
import Anchor from '../atoms/Anchor.astro'
import Button from '../atoms/Button.astro'
import _slug from '../scripts/slug'
---
<div>
    Error
</div>