@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --r-subtle-grad-stops: #fff, hsl(43 92% 50% / 0.1);
        --r-subtle-grad-bottom: linear-gradient(to bottom, var(--r-subtle-grad-stops));
        --r-backdrop-swap: hsla(43, 92%, 50%, 0.06);
        --r-color-base: #19191A;
        --r-base-platinum: #F2F2F2;
        --r-primary: #19191A;
        --r-contrast-max: #19191A;
        --r-accent: #cc8500;
        --r-interface-jet: #e0e0e0;
        --r-interface-text: var(--r-color-base);
        --r-interface-backdrop: #f9f9f9;
        --r-accent-contrast-text: #f9f9f9;
        --r-interface-elevation: #F2F2F2;
        --r-elevation-border: #E0E0E0;
        --r-neutral: #000;

        @media (prefers-color-scheme: dark) {
            --r-subtle-grad-stops: hsl(240, 7%, 6%), hsl(43 92% 50% / 0.05);
            --r-backdrop-swap: hsla(44.21, 90.48%, 4.12%, 0.5);
            --r-base-platinum: #F2F2F2;
            --r-primary: #F4F5F8;
            --r-contrast-max: #fff;
            --r-accent: #EAB308;
            --r-interface-jet: #292929;
            --r-interface-text: var(--r-base-platinum);
            --r-interface-backdrop: #19191A;
            --r-accent-contrast-text: #1E1E1F;
            --r-accent-gradient-start: #23211C;
            --r-interface-elevation: #202020;
            --r-elevation-border: #323234;
            --r-neutral: #fff;
        }
    }

    html.is-changing .swup-in { @apply opacity-100 duration-[.4s] ease-[cubic-bezier(0,0.16,0,1)]; }
    html.is-animating .swup-in { @apply translate-y-8 scale-[.99] opacity-0 ease-in; }
    .swup-progress-bar { @apply h-[3px] bg-[var(--color-accent)]; }
    body, header {
        @apply relative bg-[var(--r-interface-backdrop)] text-zinc-700 dark:text-zinc-300 prose-headings:text-zinc-900 dark:prose-headings:text-zinc-50 prose-strong:text-zinc-900 dark:prose-strong:text-zinc-50 prose-ol:text-zinc-700 dark:prose-ol:text-zinc-300 prose-ul:text-zinc-700 dark:prose-ul:text-zinc-300;
    }
    .r-dot-matrix-texture {
        @apply relative;
        &::before {
            content: '';
            background-color: var(--r-interface-jet);
            mask-image: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><circle cx="1" cy="1" r="1" /></svg>');
            @apply fixed inset-x-0 inset-y-4 z-[-1] opacity-60;
        }
    }
    button { text-align: inherit; }
    svg { @apply pointer-events-none flex-shrink-0 fill-current; }
    figcaption { @apply bg-[var(--color-accent)] !text-[var(--color-primary-reverse)] p-3 text-sm italic; }
}

@layer components {
    .r-transition {
        @apply transition duration-[.3s] ease-out;
    }
    .r-surface-copy { @apply text-zinc-700 dark:text-zinc-300; }
    .r-surface-strong { @apply text-zinc-950 dark:text-zinc-50; }
    .r-surface-accent { @apply text-amber-700 dark:text-amber-400; }
    .r-border-accent { @apply border-amber-700 dark:border-amber-400; }
    .r-surface-primary-fixed { @apply text-zinc-950; }
}

@layer utilities {
    .r-pt { @apply pt-16 sm:pt-20 lg:pt-24; }
    .r-pb { @apply pb-16 sm:pb-20 lg:pb-24; }
    .r-py { @apply py-16 sm:py-20 lg:py-24; }

    @media (prefers-color-scheme: dark) {
        .r-contrast { @apply contrast-[1.2] brightness-[0.8]; }
    }
}