@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --r-subtle-grad-stops: #fff, hsl(43 92% 50% / 0.1);
        --r-subtle-grad-bottom: linear-gradient(to bottom, var(--r-subtle-grad-stops));
        --r-backdrop-swap: hsla(43, 92%, 50%, 0.06);
        --r-accent: 159 118 15;

        @media (prefers-color-scheme: dark) {
            --r-subtle-grad-stops: hsl(240, 7%, 6%), hsl(43 92% 50% / 0.05);
            --r-backdrop-swap: hsla(44.21, 90.48%, 4.12%, 0.5);
            --r-accent: 154 114 14;
        }
    }

    html.is-changing .swup-in { @apply opacity-100 duration-[.4s] ease-[cubic-bezier(0,0.16,0,1)]; }
    html.is-animating .swup-in { @apply translate-y-8 scale-[.99] opacity-0 ease-in; }
    .swup-progress-bar { @apply h-1 bg-accent-400; }
    body {
        @apply relative;
        &::after {
            background-image: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><circle cx="1" cy="1" r="1" fill="%23292929" /></svg>');
            content: '';
            @apply fixed -inset-3 z-[-1] opacity-50;
        }
    }
    button { text-align: inherit; }
    svg { @apply pointer-events-none flex-shrink-0 fill-current; }
}

@layer components {
    .r-transition {
        @apply transition duration-[.3s] ease-out;
    }
}

@layer utilities {
    .r-pt { @apply pt-16 sm:pt-20 lg:pt-24; }
    .r-pb { @apply pb-16 sm:pb-20 lg:pb-24; }
    .r-py { @apply py-16 sm:py-20 lg:py-24; }

    .r-contrast { @apply contrast-[1.2] brightness-[0.8]; }
}