---
import { _transition } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'

const {
    icon, text,
    class: classes, ...props
} = Astro.props
---
<button
    class:list={[
        'inline-flex items-center justify-center text-primary-950 bg-accent-500 size-14 rounded-full',
        _transition(),
        classes
    ]} { ...props }>
    <Icon name={ icon } class:list="w-6">
</button>