---
import { _transition } from '@scripts/utils/snips'
import Icon from '@atoms/Icon.astro'

const {
	icon,
	text,
	base,
	fabToPill,
	plain,
	class: classes,
	...props
} = Astro.props
---

<button
	class:list={[
		'inline-flex items-center justify-center r-transition',
		_transition(),
		base &&
			'text-[var(--color-primary-fixed)] bg-[var(--color-accent)] rounded-full shadow-2xl',
		fabToPill && 'size-16 sm:!h-14 sm:!w-full sm:px-5',
		plain && 'text-[var(--r-accent)] hover:opacity-70 p-4',
		classes,
	]}
	{...props}>
	<Icon name={icon} class:list='w-7 sm:w-6' />
	<span
		set:text={text}
		class:list={[
			'font-medium text-lg !ml-2',
			fabToPill && 'sr-only sm:not-sr-only',
		]}
	/>
</button>
