---
import { _transition } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'

const {
    icon, text,
    class: classes, ...props
} = Astro.props
---
<button
    class:list={[
        'inline-flex items-center text-primary-950 bg-accent-500 h-14 w-full rounded-full px-4',
        _transition(),
        classes
    ]} { ...props }>
    <Icon name={ icon } class:list="w-6">
    <span set:text={ text }/>
</button>