---
import Icon from '@atoms/Icon.astro'

const { text = 'New', icon, class: classes, ...props } = Astro.props
---

<span
	class:list={[
		'flex items-center font-medium uppercase text-xs py-1.5 px-3.5 bg-[var(--r-accent)] text-[var(--r-accent-contrast-text)] rounded-full',
		classes,
	]}
	{...props}>
	{icon && <Icon name={icon} class:list='w-5' />}
	<span set:text={text} />
</span>
