---
import Icon from '@atoms/Icon.astro'

const {
	text = 'New',
	base = true,
	theme = 'default',
	icon,
	class: classes,
	...props
} = Astro.props
---

<span
	class:list={[
		'flex items-center justify-center font-medium uppercase text-xs py-1.5 px-3.5 rounded-full max-w-28 tracking-wider',
		theme === 'default' &&
			theme !== 'neutral' &&
			'bg-[var(--color-accent)] text-[var(--color-primary-reverse)]',
		theme === 'neutral' && 'bg-slate-500/20 dark:text-slate-400 text-slate-600',
		theme === 'positive' && 'bg-blue-500/20 dark:text-blue-400 text-blue-600',
		theme === 'review' && 'bg-amber-500/20 dark:text-amber-400 text-amber-600',
		theme === 'success' && 'bg-green-500/20 dark:text-green-400 text-green-600',
		theme === 'error' && 'bg-red-500/20 dark:text-red-400 text-red-600',
		classes,
	]}
	{...props}>
	{icon && <Icon name={icon} class:list='w-5' />}
	<span set:text={text} />
</span>
