---
import Icon from './Icon.astro'

const
    {
        text = 'New', icon,
        class: classes, ...props
    } = Astro.props
---
<span
    class:list={[
        'flex items-center font-bold uppercase tracking-widest text-xs py-2 px-3 bg-accent-500 text-primary-950/90 rounded-full',
        classes
    ]} { ...props }>
    { icon && <Icon name={ icon } class:list="w-5"/> }
    <span set:text={ text }/>
</span>