---
const
    {
        level, text, size, uppercase, lowercase, weight, tighten, loosen, color,
        class: classes, ...attrs
    } = Astro.props
---
<div
    { ...attrs }
    class:list={[
        `h is-${ level ? level : 'span' } text-balance`,

        // Font Sizes
        size === 'sm' && 'text-xs lg:text-sm',
        size === 'md' && 'text-xl sm:text-2xl md:text-3xl',
        size === 'lg' && 'text-[27px] leading-[33px] sm:text-[30px] sm:leading-[36px]',
        size === 'xl' && 'text-5xl sm:text-7xl md:text-8xl lg:text-9xl',

        // Font Weights
        weight === 'regular' && 'font-normal',
        weight === 'medium' && 'font-medium',
        weight === 'semi' && 'font-semibold',
        weight === 'bold' && 'font-bold',
        weight === 'extra' && 'font-extrabold',

        // Colors
        color === 'accent' && 'text-accent-500',
        color === 'primary' && 'text-primary-950',
        color === 'white' && 'text-white',

        // Booleans
        uppercase && 'uppercase',
        lowercase && 'lowercase',
        tighten && 'tracking-[-0.02em]',
        loosen && 'tracking-[0.15em]',

        // Classes Passed In
        classes
    ]}>
    {() => {
        switch (level) {
            case 'h1': return <h1>{ text }</h1>
            case 'h2': return <h2>{ text }</h2>
            case 'h3': return <h3>{ text }</h3>
            default: return <span>{ text }</span>
        }
    }}
</div>