---
const { class: classes, ...props } = Astro.props
---

<div
	class:list={[
		`
        max-w-none
        prose prose-lg
        prose-p:text-white/80 prose-p:leading-[1.625]
        prose-a:text-accent-500 hover:prose-a:text-white prose-a:transition prose-a:duration-300 prose-a:ease-linear
        prose-h3:text-white prose-strong:text-white
        prose-blockquote:border-accent-500 prose-blockquote:bg-gradient-to-r prose-blockquote:from-accent-500/5 prose-blockquote:to-transparent prose-blockquote:py-1 before:prose-p:content-none after:prose-p:content-none
        prose-ol:text-white/80 marker:text-accent-500 prose-ol:leading-normal prose-a:break-all
        `,
		classes,
	]}
	{...props}>
	<slot />
</div>
