---
const { class: classes, ...props } = Astro.props
---

<div
	class:list={[
		`
        max-w-none
        prose prose-lg lg:prose-xl
        prose-p:text-white/80 prose-p:leading-[1.55]
        prose-a:text-accent-500 hover:prose-a:text-white prose-a:transition prose-a:duration-300 prose-a:ease-linear
        prose-h3:text-white
        prose-blockquote:border-accent-500 prose-blockquote:bg-gradient-to-r prose-blockquote:from-accent-500/5 prose-blockquote:to-transparent prose-blockquote:py-1`,
		classes,
	]}
	{...props}>
	<slot />
</div>
