---
const { class: classes, ...props } = Astro.props
---
<div
    { ...props }
	class:list={[
        `
            max-w-none
            prose prose-lg lg:prose-xl
            prose-p:text-white/80 prose-p:leading-[1.55]
            prose-a:text-accent-500 hover:prose-a:text-white
        `,
        classes,
    ]}>
    <slot/>
</div>