---
const { class: classes, ...props } = Astro.props
---

<a
    href="#"
    role="button"
	data-cal-link='k16e.co/brief'
	data-cal-namespace=''
	data-cal-config='{"layout":"month_view"}'>
	<slot />
</a>
