---
import Heading from '@atoms/Heading.astro'

const
    {
        title, color = 'fddee1',
        class: classes, ...props
    } = Astro.props
---
<div
    class:list={[
        `h-80 w-full py-3 px-4 sm:py-5 sm:px-7`,
        classes
    ]} { ...props }
    style={ `background-color: #${color}` }>
    <Heading
        text={ title }
        size="mdx"
        weight="extra"
        color="white"
    />
</div>