---
import Heading from '../atoms/Heading.astro'
import _shade from '../scripts/shades-from'
import Icon from '../atoms/Icon.astro'
import { _contrast } from '../scripts/snips'

const
    {
        title, hue, tag, svg,
        class: classes, ...props
    } = Astro.props,
    shade = _shade(hue)
---
<div
    class:list={[
        `h-80 w-full py-5 px-6 flex flex-col relative`,
        _contrast(),
        classes
    ]} { ...props }
    style={ `background-color: ${shade.pastel()}` }>
    <span
        set:text={ tag }
        class="block self-end lowercase font-bold text-2xl opacity-50"
        style={ `color: ${shade.dark()}` }
    />
    <div class="self-start mt-auto">
        <Heading
            text={ title }
            size="mdx"
            weight="extra"
            style={ `color: #${hue}` }
        />
    </div>
    <Icon
        name={ svg.toLowerCase() }
        class:list="absolute bottom-0 inset-x-0 w-full opacity-[0.07]"
        style={ `color: #${hue}` }
    />
</div>