---
import Heading from '@atoms/Heading.astro'

const
    {
        title, color = 'fddee1', tag,
        class: classes, ...props
    } = Astro.props
---
<div
    class:list={[
        `h-80 w-full py-3 px-4 sm:py-5 sm:px-6 flex flex-col`,
        classes
    ]} { ...props }
    style={ `background-color: #${color}` }>
    <span set:text={ tag } class="block self-end text-white/60 lowercase tracking-wide font-extrabold text-xl"/>
    <div class="self-start mt-auto">
        <Heading
            text={ title }
            size="mdx"
            weight="extra"
            color="white"
        />
    </div>
</div>