---
import Heading from '@atoms/Heading.astro'
import _shade from '@scripts/shades-from'
import Icon from '@atoms/Icon.astro'
import { _contrast } from '@scripts/snips'
import Image from '@atoms/Image.astro'
import Copy from '@atoms/Copy.astro'

const
    {
        image, title, description,
        class: classes, ...props
    } = Astro.props
---
<div
    class:list={[
        `flex flex-col relative`,
        classes
    ]} { ...props }>
    <Image
        src={ image.src }
        alt={ image.alt }
        objectLeft={ false }
    />
    <div class="px-4 py-5 sm:py-6">
        <Heading
            text={ title }
            size="md"
            weight="extra"
            color="white"
        />
        <Copy
            copy={ description }
            size="sm"
            class:list="mt-3"
        />
    </div>
</div>