---
import Heading from '@atoms/Heading.astro'
import _shade from '@scripts/shades-from'

const
    {
        title, color = 'fddee1', tag,
        class: classes, ...props
    } = Astro.props,
    shade = _shade(color)
---
<div
    class:list={[
        `h-80 w-full py-5 px-6 flex flex-col contrast-[1.2] brightness-[.8]`,
        classes
    ]} { ...props }
    style={ `background-color: ${shade.pastel()}` }>
    <span
        set:text={ tag }
        class="block self-end lowercase font-bold text-2xl opacity-50"
        style={ `color: ${shade.dark()}` }
    />
    <div class="self-start mt-auto">
        <Heading
            text={ title }
            size="mdx"
            weight="extra"
            style={ `color: ${shade.brand()}` }
        />
    </div>
</div>