---
import Heading from '../atoms/Heading.astro'
import _shade from '../scripts/shades-from'
import Icon from '../atoms/Icon.astro'

const
    {
        hue, worktag, logo, permalink,
        class: classes, ...props
    } = Astro.props,
    shade = _shade(hue)
---
<div
    class:list={[
        'w-full p-4 sm:p-8 text-white flex flex-col h-full justify-between min-h-[424px] sm:min-h-[480px] lg:min-h-[576px] relative',
        classes
    ]}
    style={ `background-color: #${hue}` }>
    <dl class="self-end text-right space-y-4 max-w-md z-[2]">
        <div class="font-medium">
            <dt class="opacity-70 text-xs uppercase tracking-wider font-bold">Consultant:</dt>
            <dd class="font-medium">kb</dd>
        </div>
        <div class="font-medium">
            <dt class="opacity-70 text-xs uppercase tracking-wider font-bold">Collaborators:</dt>
            <dd>
                <p>
                    George Ikem, UI<br />
                    Deborah Edemhanria, Second Eye
                </p>
            </dd>
        </div>
        <div class="font-medium">
            <dt class="opacity-70 text-xs uppercase tracking-wider font-bold">Technologies:</dt>
            <dd>
                <p>
                    Storyblok<br />
                    Nuxt + TailwindCSS<br />
                    Github + MS Azure
                </p>
            </dd>
        </div>
        <div class="font-medium">
            <dt class="opacity-70 text-xs uppercase tracking-wider font-bold">Client:</dt>
            <dd><p>Rob Salerno, Cinnamon Entertainment Group LLC</p></dd>
        </div>
        <div class="font-medium">
            <dt class="opacity-70 text-xs uppercase tracking-wider font-bold">Locale:</dt>
            <dd><p>Nashville, Tennessee, USA</p></dd>
        </div>
    </dl>
    <div class="flex items-center pt-6 z-[2]">
        <span class="text-xl sm:text-2xl md:text-3xl font-bold sm:font-extrabold">Take a look at CliquePrize</span>
        <Icon name="arrow-right-up" class:list="w-9 ml-1"/>
    </div>
    <Icon
        name={ logo }
        class:list="w-full absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 opacity-[0.07] z-0"
    />
</div>