---
import Copy from '@atoms/Copy.astro'
import Heading from '@atoms/Heading.astro'

const { obj, pastel, copy, class: classes, ...props } = Astro.props
---

<div
	class:list={[
		`h-64 sm:h-[25rem] flex flex-col p-4 sm:p-8 justify-between r-contrast`,
		classes,
	]}
	{...props}
	style={`background-color: ${pastel}`}>
	<Heading
		text={obj}
		size='lg'
		weight='extra'
		color='on-pastel'
		lowercase
		tighten
		class:list='self-end'
	/>
	{
		copy && (
			<Copy
				copy={copy}
				color='on-pastel'
				class='line-clamp-5 text-sm sm:text-lg italic lg:pr-8 max-w-screen-md opacity-70'
			/>
		)
	}
</div>
