---
import Heading from '@atoms/Heading.astro'

const
    {
        obj, pastel,
        class: classes, ...props
    } = Astro.props
---
<div
    class:list={[
        `h-64 sm:h-[25rem] flex flex-col justify-start items-end p-4 sm:p-8 contrast-[1.2] brightness-[.8]`,
        classes
    ]} { ...props }
    style={ `background-color: ${pastel}` }>
    <Heading
        text={ obj }
        size="lg"
        weight="extra"
        color="primary"
        lowercase
        tighten
    />
</div>