---
import { _paths } from '@scripts/utils/pathworx'
import Wrapper from '@layouts/Wrapper.astro'
import Anchor from '@atoms/Anchor.astro'
import Icon from '@atoms/Icon.astro'
import Button from '@atoms/Button.astro'

const { title, class: classes, ...props } = Astro.props
const { isCollection, collection, collectionParent, isCollectionChild } =
	_paths(Astro.url)
---

<Wrapper
	tag='div'
	x={false}
	class:list='fixed top-0 inset-x-0 invisible h-16 bg-[var(--color-primary-reverse)] z-50 r-dot-matrix-texture'
	data-backbar>
	<Anchor
		href={`/${isCollection() ? collection() : collectionParent()}`}
		class:list='col-start-1 place-self-start xl:col-start-2 text-[var(--color-accent)] hover:opacity-70 p-4 h-full'>
		<Icon name='arrow-left' class:list='w-6' />
		<span class='sr-only' set:text='Back to collection' />
	</Anchor>
	{
		isCollectionChild() && (
			<div class='-col-end-1 xl:col-end-12 col-span-4 justify-self-end place-self-center'>
				<Button
					fabToPill
					plain
					text='Content'
					icon='menu-book'
					class=''
				/>
			</div>
		)
	}
</Wrapper>
