---
import Head from '@layouts/Head.astro'
import Header from '@layouts/Header.astro'
import TitleHidden from '@blocks/TitleHidden.astro'
import { getImage } from 'astro:assets'

const { data } = Astro.props
const { pathname } = Astro.url
const isHome = pathname === '/'
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
	<Head
		title={data.title}
		description={data.description}
		image={import.meta.env.SITE + data.cover.src.src}
		alt={data.cover.alt ? data.cover.alt : ''}
	/>
	<body
		class='flex min-h-svh lg:min-h-dvh flex-col transition-colors duration-300 r-dot-matrix-texture'>
		<TitleHidden title={`Page: ${data.title}`} id='page-title' />
		<Header />
		<main
			class:list={[
				'swup-in relative',
				!isHome && 'r-pb',
				isHome &&
					'flex flex-col items-center justify-center h-svh lg:h-dvh -mt-10 lg:-mt-8',
			]}
			id='swup'>
			<slot />
		</main>
		<script src='@scripts/global.js'></script>
	</body>
</html>
