---
import Head from './Head.astro'
import Header from './Header.astro'
import TitleHidden from '../blocks/TitleHidden.astro'

const { frontmatter } = Astro.props
---
<!doctype html>
<html lang="en" class="scroll-smooth bg-primary-950">
	<Head
        image={ '/thumbnail.png' }
    />
	<body
        class="text-primary-100 bg-primary-950 flex min-h-svh lg:min-h-dvh flex-col group/modal"
        data-body-exit>
        <TitleHidden title={ frontmatter.title }/>
        <Header/>
		<main
            class="flex-1 swup-in pt-14 lg:pt-16 "
            id="swup"
            tabindex="-1">
            <slot/>
        </main>
	</body>
</html>

<style is:global>
	html.is-changing .swup-in { @apply opacity-100 duration-[.4s] ease-[cubic-bezier(0,0.16,0,1)]; }
	html.is-animating .swup-in { @apply opacity-0 scale-[.99] translate-y-10 ease-in; }
	.swup-progress-bar { @apply h-1 bg-accent-600; }
	main:focus { outline: none; }
    button { text-align: inherit; }
	svg { @apply flex-shrink-0 pointer-events-none fill-current; }
</style>

<script>
    import Swup from 'swup'
    import SwupProgressPlugin from '@swup/progress-plugin'
    import SwupHeadPlugin from '@swup/head-plugin'
    import _active from '../scripts/active'
    import _astrolog from '../scripts/astrolog'
    import _prefilters from '../scripts/prefilters'

    const swup = new Swup({
        animationSelector: '[class*="swup-"]',
        animateHistoryBrowsing: true,
        plugins: [
            new SwupProgressPlugin({ finishAnimation: false }),
            new SwupHeadPlugin()
        ]
    })

    document.addEventListener('DOMContentLoaded', () => {
        once()
        init()
    })
    swup.hooks.on('page:view', () => init())

    function init() {
        _active()
    }

    function once() {
        _astrolog()
        _prefilters()
    }
</script>