---
import Head from './Head.astro'
import Header from './Header.astro'
import TitleHidden from '@blocks/TitleHidden.astro'
import { getImage } from 'astro:assets'

const {
		frontmatter: { data },
	} = Astro.props,
	{ pathname } = Astro.url,
	isHome = pathname === '/',
	noBriefPages = !['/brief'].includes(pathname.replace(/\.html$/, ''))
---

<!doctype html>
<html lang='en' class='scroll-smooth bg-primary-950 text-white/80'>
	<Head
		title={data.title}
		description={data.description}
		image={import.meta.env.SITE + data.cover.src.src}
		alt={data.cover.alt ? data.cover.alt : ''}
	/>
	<body
		class='flex min-h-svh lg:min-h-dvh flex-col transition-colors duration-300'>
		<TitleHidden title={`Page: ${data.title}`} id='page-title' />
		<Header showBrief={noBriefPages} />
		<main
			class:list={[
				'swup-in relative',
				!isHome && 'r-pb',
				isHome &&
					'flex flex-col items-center justify-center h-svh lg:h-dvh -mt-10 lg:-mt-8',
			]}
			id='swup'>
			<slot />
		</main>
		<script src='@scripts/global.js'></script>
	</body>
</html>
