---
import Head from './Head.astro'
import TitleHidden from '../blocks/TitleHidden.astro'

const
    { frontmatter } = Astro.props
---
<!doctype html>
<html lang="en" class="scroll-smooth bg-primary-950">
    <Head
        title={ frontmatter.data.title }
        image={ '/thumbnail.png' }
    />
	<body
        class="bg-primary-950 flex h-svh lg:h-dvh flex-col">
        <TitleHidden title={ frontmatter.data.title }/>
		<main class="flex-1">
            <slot/>
        </main>
	</body>
</html>