---
import Wrapper from './Wrapper.astro'
import Icon from '@atoms/Icon.astro'
import Anchor from '@atoms/Anchor.astro'
import nav from '@content/settings/nav.json'
import _slugify from '@scripts/slugify'

const
    {
        title,
        class: classes, ...attrs
    } = Astro.props
---
<header
    class:list={[
        'z-50 fixed top-0 inset-x-0',
        classes
    ]}
    data-header-main
    { ...attrs }>
    <Wrapper
        tag="nav"
        padX={ false }
        class:list="fixed bottom-0 inset-x-0 flex items-center">
        <Anchor href="/" class:list="p-4" data-anchor="/">
            <Icon name="logo" class:list="w-16 text-white"/>
            <span class='sr-only' set:text="K16E, Inc."/>
        </Anchor>
        <ul class="flex items-center font-medium">
            { nav.map(it => (
                <li>
                    <Anchor href={ `/${it.slug }`} class:list="p-4" data-anchor={ _slugify(it.slug) }>
                        <span set:text={ it.title }/>
                    </Anchor>
                </li>
            )) }
        </ul>
    </Wrapper>
</header>