---
import Wrapper from './Wrapper.astro'
import Icon from '@atoms/Icon.astro'
import navlist from '@content/settings/nav.json'
import _slugify from '@scripts/slugify'
import AnchorNav from '@atoms/AnchorNav.astro'
import TitleHidden from '@blocks/TitleHidden.astro'

const
    {
        title,
        class: classes, ...attrs
    } = Astro.props
---
<header
    class:list={[
        'z-50 fixed bottom-0 inset-x-0 invisible',
        classes
    ]}
    data-header-main
    { ...attrs }>
    <Wrapper tag="nav" x={ false }>
        <TitleHidden tag="h2" title="Navigation"/>
        <ul class="flex justify-between xs:justify-start [&>*]:w-full [&>*]:xs:w-auto col-span-full">
            <li>
                <AnchorNav
                    href="/"
                    data="/"
                    text="K16E, Inc."
                    showIcon
                    showText={ false }
                    icon="logo"
                />
            </li>
            { navlist.map(it => (
                <li>
                    <AnchorNav
                        href={ `/${it.slug }`}
                        text={ it.title }
                        data={ _slugify(it.slug) }
                    />
                </li>
            )) }
        </ul>
    </Wrapper>
</header>