---
import Wrapper from './Wrapper.astro'
import Icon from '../atoms/Icon.astro'
import Anchor from '../atoms/Anchor.astro'

const
    {
        title,
        class: classes, ...attrs
    } = Astro.props
---
<header
    class:list={[
        'z-50 fixed top-0 inset-x-0',
        classes
    ]}
    data-header-main
    { ...attrs }>
    <Wrapper tag="nav" padX={ false } class:list="fixed bottom-0 inset-x-0">
        <Anchor href="/" class:list="p-4">
            <Icon name="logo" class:list="w-16 text-white"/>
            <span class='sr-only'>K16E, Inc.</span>
        </Anchor>
    </Wrapper>
</header>