---
import {
    _padB, _padY, _padT
} from '../scripts/snips'

const
    {
        centered,
        padX = true,
        tag = 'div',
        class: classes, ...props
    } = Astro.props,
    Tag = tag
---
<Tag
    { ...props }
    class:list={[
        'grid grid-cols-12 [&>:first-child]:col-span-full',
        centered && '[&>:first-child]:md:col-start-2 [&>:first-child]:md::col-end-12',
        padX && 'px-4 md:px-0',
        classes
    ]}>
    <div class="flex items-center">
        <slot/>
    </div>
</Tag>